<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>
<!--header.html 파일을 연결하는 부분임.
{뷰페이지명 :: 엘리멘트명}
header.html에 header를 매핑해라라는 의미임.
생략 가능 <header th:replace="header :: header"></header>-->
    <header th:replace="~{header :: header}"></header>
    <main>
<!--        1. 검색창-->
        <form>
<!--            label에 for="search-type"을 붙이는 이유는 select와 매핑하기 위함이다. select id와 같은 이름이여야 한다.-->
            <label for="search-type" hidden>유형</label>
            <select id="search-type" name="search-type">
                <option>제목</option>
                <option>본문</option>
                <option>ID</option>
                <option>닉네임</option>
                <option>해시태그</option>
            </select>
            <label for="search-value" hidden>검색어</label>
            <input id="search-value" type="search" placeholder="검색어" name="search-value">
            <button type="submit">버튼</button>
        </form>
<!--        2. 테이블-->
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>해시태그</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>안녕</td>
                    <td>#java</td>
                    <td>Uno</td>
                    <td>2024-01-01</td>
                </tr>
                <tr>
                    <td>안녕22222</td>
                    <td>#java</td>
                    <td>Uno22222</td>
                    <td>2024-01-15</td>
                </tr>
                <tr>
                    <td>33333333</td>
                    <td>#java</td>
                    <td>333333</td>
                    <td>2024-05-21</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>

<!--        3. 네비게이션 바 :-->
        <nav>
            <table>
                <tr>
                    <td>previous</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>next</td>
                </tr>
            </table>
        </nav>
    </main>
<footer th:replace="~{footer :: footer}"></footer>

</body>
</html>